@use "../abstracts/variables" as *;

/* =====================
  Typography
===================== */

body {
  font-size: 14px;
  line-height: 1.4;
}

h2 {
  font-size: 29px;
  font-weight: 700;
  line-height: 1.2;
}

h3 {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.3;
}

p {
  font-size: 12px;
  line-height: 1.4;
}