$dark-bg: #060606;
$gray-color: #898989;
$light-gray-color: #E0E0E0;
$tag-bg: #202020;
$aside-width: 26rem;
$header-height: 6.5rem;
$footer-height: 9.5rem;
$aside-width-m: 8rem;
$right-aside-width: 35.8rem;
