@use "../../../scss/abstracts/variables";
@use "../../../scss/abstracts/mixins";

@import url("../../../css/styles.css");


.library_nav_bar{
    overflow: hidden;
    padding: 10px 25px;
    
    &__items{
        display: flex;
        align-items: center;
        gap: 35px;
        
            li:last-child{
                margin-left: auto;
            }
    }

    &__buttons_view{
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__buttons_filter{
        display: flex;
        align-items: center;
        gap: 35px;
    }

    &--Liked_songs &__items{

        > li:last-child{
            order: -1;
            margin-left: 0;
            margin-right: auto;
        }
    }
}

.library_cards{
    padding: 10px 25px;

    &__items{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 11px;
    }
}

.liked_songs{
    padding: 10px 25px;

    &__table{
        width: 100%;
        border-collapse: collapse;
        text-align: left;
        color: variables.$text-color-secondary;
        @include mixins.font_14_regular;
    }

    &__header{
        border-bottom: 3px solid variables.$bg-color-secondary;

        &_row{
            // padding: 0 10px 12px 10px;
        }

        &_item{
            @include mixins.font_14_regular;
            padding-top: 2px;
            padding-bottom: 14px;

            &:first-child{
                text-align: center;
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }

    &__content{

        &::before{
            content: "";
            display: block;
            height: 20px;
        }

        &_row{
            
            &:hover{
                background-color: variables.$bg-color-hover;
            }
        }

        &_item{
            padding-top: 8px;
            padding-bottom: 8px;

            &:first-child{
                text-align: center;
                @include mixins.font_14_medium(16px);
            }
        }
    }


    &__modes{
        display: flex;
        align-items: center;
        gap: 10px;

        &_main_items{
            display: flex;
            align-items: center;
            gap: 20px;
        }

        &_more{
            display: flex;
            align-items: center;

            span{
                display: inline-block;
                width: 77px;
            }
        }
    }

    &__item{
        
        &:hover{
            background-color: variables.$bg-color-secondary;
        }

        .recommendation{

            &__image{
            width: 51px;
            height: 51px;
            }

            &__info{
                gap: 4px;

                &-title{
                    @include mixins.font_14_medium(16px);
                }
            }
        }

    }
}