// colors

// $color-primary: #1db954;
$color-bg-dark: #111111;
$color-bg-dark-1: #060606;
$color-bg-light: #181818;
$color-text-alt: #898989;
$color-white: #ffffff;
$color-bg-circle: #1ed760;
$color-text-btn: #e0e0e0;
$color-bg-btn: #202020;
$color-bg-footer: #333842;
$color-text-time: #6e6e6e;

// spacing

// $spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md-12: 12px;
// $spacing-md-16: 16px;
// $spacing-lg: 24px;
// $spacing-xl: 32px;
// $spacing-xxl: 48px;

// fonts

$font-primary: "Satoshi", sans-serif;
// $font-size-xs: 11px;
$font-size-sm: 12px;
$font-size-base: 14px;
$font-size-md: 16px;
// $font-size-lg: 24px;
// $font-size-xl: 32px;
$font-size-36: 36px;
// $font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// border-radius
$radius-3: 3px;
// $radius-sm: 4px;
$radius-md: 8px;
$radius-lg: 10px;
// $radius-xl: 24px;
$radius-44: 44px;
$radius-pill: 50%;
