* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

header {
  padding: 16px 28.56px 24px 27.79px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to bottom, rgba(17, 17, 17, 0.85) 0%, rgb(17, 17, 17) 43%);
  z-index: 5;
}
@media (min-width: 790px) {
  header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    position: static;
    background: none;
  }
}

.header_nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-wrap: nowrap;
}
.header_nav ul li {
  max-width: 210px;
  min-width: 0;
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.header_nav ul li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-radius: 10px;
  background-color: rgba(110, 110, 110, 0.5);
  transition: width 0.5s ease-out;
  z-index: -1;
}
.header_nav ul li:hover::before {
  width: 100%;
}
.header_nav ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 8px;
  color: #898989;
}
.header_nav ul li a.active {
  background-color: rgba(110, 110, 110, 0.8);
  border-radius: 10px;
  color: #ffffff;
}
.header_nav ul li a.active div img {
  filter: brightness(0) invert(1);
}
@media (min-width: 790px) {
  .header_nav ul li a {
    flex-direction: row;
    justify-content: start;
    padding: 4px;
  }
}
.header_nav ul li a div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40.41px;
  height: 40.41px;
  overflow: hidden;
}
.header_nav ul li a div img {
  object-fit: cover;
}
@media (min-width: 790px) {
  .header_nav ul {
    justify-content: start;
  }
}

.header_nav_library,
.header_nav_me {
  display: flex;
}

@media (min-width: 790px) {
  .header_nav_library,
  .header_nav_me {
    display: none;
  }
}
.header_nav_second ul {
  justify-content: flex-end;
  display: none;
  gap: 13px;
}
.header_nav_second ul li a {
  width: 41.41px;
  height: 41.41px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_nav_second ul li a img:hover {
  filter: brightness(0) invert(1);
  scale: 1.1;
}
@media (min-width: 790px) {
  .header_nav_second ul {
    display: flex;
  }
}

footer {
  position: fixed;
  width: 100%;
  max-width: 1771px;
  overflow: hidden;
  z-index: 1;
  bottom: 110px;
  left: 50%;
  transform: translateX(-50%);
  margin-inline: auto;
  background-color: transparent;
}
footer .footer_box {
  background-color: #333842;
  padding: 8px 10.59px 10px 8px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}
footer .footer_box .footer_left_section {
  display: none;
  align-items: center;
  gap: 10px;
}
@media (min-width: 790px) {
  footer .footer_box .footer_left_section {
    display: flex;
  }
}
footer .footer_box .footer_left_section .footer_left_section_article {
  display: flex;
  align-items: center;
  gap: 5px;
}
footer .footer_box .footer_left_section .footer_left_section_article .footer_left_section_play {
  width: 38.02px;
  height: 38.02px;
  object-fit: cover;
  background-color: #1ed760;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer_box .footer_left_section .footer_left_section_article .footer_left_section_volume_box {
  width: 40px;
  height: 40px;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer_box .footer_img {
  width: 43px;
  height: 43px;
  object-fit: cover;
  border-radius: 3px;
}
footer .footer_box .footer_center_section {
  display: flex;
  align-items: center;
  gap: 10px;
}
footer .footer_box .footer_center_section_text {
  display: flex;
  flex-direction: column;
  gap: 1px;
}
footer .footer_box .footer_center_section_text h3 {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 3%;
  background: linear-gradient(to right, #dbdbdb 55%, #333842 66%);
  text-wrap: nowrap;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
}
footer .footer_box .footer_center_section_text p {
  color: #898989;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 3%;
}
footer .footer_box .footer_img_add {
  position: absolute;
  right: 63px;
  bottom: 20px;
  width: 20px;
  height: 23px;
  object-fit: cover;
}
footer .footer_box .footer_img_play {
  position: absolute;
  right: 20px;
  bottom: 21px;
  width: 20px;
  height: 20px;
  object-fit: cover;
}
@media (min-width: 790px) {
  footer .footer_box .footer_img_add,
  footer .footer_box .footer_img_play {
    display: none;
  }
}
footer .footer_box .footer_bottom_line {
  width: 95%;
  height: 2px;
  background-color: rgba(219, 219, 219, 0.1294117647);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  overflow: hidden;
}
@media (min-width: 790px) {
  footer .footer_box .footer_bottom_line {
    display: none;
  }
}
footer .footer_box .footer_bottom_line .footer_bottom_line_progress {
  width: 50%;
  height: 2px;
  background-color: #e0e0e0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
footer .footer_box .footer_right_section {
  display: none;
  align-items: center;
  gap: 6.31px;
}
@media (min-width: 790px) {
  footer .footer_box .footer_right_section {
    display: flex;
  }
}
footer .footer_box .footer_right_section .footer_right_section_image_box {
  width: 47.78px;
  height: 47.78px;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer_box .footer_right_section .footer_right_section_image_box_line {
  padding: 3px 8.5px;
  width: 17px;
}

@media (min-width: 790px) {
  footer {
    max-width: 1771px;
    padding-left: 266px;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    background-clip: content-box;
  }
}
.container {
  width: 100%;
  max-width: 1771px;
  min-height: 100vh;
  margin: auto;
  background-color: #060606;
  position: relative;
}

.my_library {
  display: none;
}

@media (min-width: 790px) {
  .my_library {
    display: flex;
    width: 240px;
  }
}
.main_box {
  display: flex;
  gap: 7px;
}

.main_box_aside {
  max-width: 259px;
  width: 100%;
  height: 100%;
  padding: 11px 0 11px 11px;
  display: flex;
  flex-direction: column;
  gap: 11px;
  display: none;
}
.main_box_aside nav ul {
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.main_box_aside nav ul .aside_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #898989;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.main_box_aside nav ul .aside_item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(110, 110, 110, 0.2);
  transition: width 0.5s ease-out;
  z-index: -1;
}
.main_box_aside nav ul .aside_item:hover::before, .main_box_aside nav ul .aside_item.active::before {
  width: 100%;
}
.main_box_aside nav ul .aside_item .aside_content {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #898989;
}
.main_box_aside nav ul .aside_item .aside_content .aside_img_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40.41px;
  height: 40.41px;
  overflow: hidden;
}
.main_box_aside nav ul .aside_item .aside_content .aside_img_box img {
  object-fit: cover;
}
.main_box_aside nav ul .aside_item .aside_content p {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 3%;
}
.main_box_aside nav ul .aside_item.active .aside_content {
  color: #e0e0e0;
}

@media (min-width: 790px) {
  .main_box_aside {
    display: flex;
  }
}
.main_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 13px;
  flex-direction: column;
  padding: 9px 15px;
  margin-bottom: 13px;
}
.main_menu .status_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 21px;
  padding-bottom: 12px;
  width: 100%;
}
@media (min-width: 790px) {
  .main_menu .status_bar {
    display: none;
  }
}
.main_menu .status_bar .status_bar_left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  padding-left: 31px;
}
.main_menu .status_bar .status_bar_left p {
  font-size: 17px;
  font-weight: 600;
  letter-spacing: -0.5px;
  line-height: 14px;
  color: #6e6e6e;
}
.main_menu .status_bar .status_bar_right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding-right: 3px;
}
.main_menu .main_menu_section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main_menu .main_menu_section_menu {
  gap: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main_menu .main_menu_section_menu button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 15px;
  color: #e0e0e0;
  background-color: #202020;
  font-size: 12px;
  border-radius: 8px;
  font-weight: 400;
  letter-spacing: 3%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.main_menu .main_menu_section_menu button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  border-radius: 10px;
  background-color: rgba(110, 110, 110, 0.5);
  transition: width 0.3s ease-out;
  z-index: -1;
}
.main_menu .main_menu_section_menu button:hover::after {
  width: 100%;
}
.main_menu .main_menu_section_menu .active {
  display: none;
}
@media (min-width: 790px) {
  .main_menu .main_menu_section_menu .active {
    display: block;
  }
}
.main_menu .main_menu_section_menu_img {
  width: 40.41px;
  height: 40.41px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_menu .main_menu_section_menu_img img {
  width: 19px;
  object-fit: cover;
}

.home_main_box {
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow: hidden;
}

.home_main_box_catalog {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  padding-inline: 15px;
}
@media (min-width: 790px) {
  .home_main_box_catalog {
    display: none;
  }
}
.home_main_box_catalog .home_main_box_catalog_card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background-color: #202020;
  border-radius: 10px;
  color: #898989;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 3%;
  gap: 8px;
  min-width: 0;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.home_main_box_catalog .home_main_box_catalog_card::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  border-radius: 10px;
  background-color: rgba(110, 110, 110, 0.5);
  transition: width 0.3s ease-out;
  z-index: -1;
}
.home_main_box_catalog .home_main_box_catalog_card:hover::after {
  width: 100%;
}
.home_main_box_catalog .home_main_box_catalog_card img {
  width: 43px;
  height: 43px;
  flex-shrink: 0;
  object-fit: cover;
}
.home_main_box_catalog .home_main_box_catalog_card .text_box {
  min-width: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1px;
}
.home_main_box_catalog .home_main_box_catalog_card .text_box h3 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-width: 0;
  color: #e0e0e0;
  font-weight: 700;
}
.home_main_box_catalog .home_main_box_catalog_card .text_box p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-width: 0;
}

.home_main_box_made_for_you {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.home_main_box_made_for_you .home_main_box_made_for_you_title {
  padding-inline: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home_main_box_made_for_you .home_main_box_made_for_you_title h1 {
  color: #e0e0e0;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 3%;
}
.home_main_box_made_for_you .home_main_box_made_for_you_title .home_main_box_made_for_you_title_right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.home_main_box_made_for_you .home_main_box_made_for_you_title .home_main_box_made_for_you_title_right button {
  width: 41.41px;
  height: 41.41px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  background-color: transparent;
}
@media (min-width: 790px) {
  .home_main_box_made_for_you .home_main_box_made_for_you_title .home_main_box_made_for_you_title_right button {
    display: flex;
  }
  .home_main_box_made_for_you .home_main_box_made_for_you_title .home_main_box_made_for_you_title_right button:hover {
    scale: 1.1;
    transition: all 0.3s ease-out;
    background-color: rgba(110, 110, 110, 0.5);
    border-radius: 50%;
  }
}
.home_main_box_made_for_you .home_main_box_made_for_you_cards {
  display: flex;
  gap: 11px;
  overflow-x: auto;
  padding-left: 15px;
  scrollbar-width: none;
}
.home_main_box_made_for_you .home_main_box_made_for_you_card {
  display: flex;
  flex-direction: column;
  gap: 5px;
  transition: all 0.3s ease-out;
  position: relative;
  z-index: 1;
}
.home_main_box_made_for_you .home_main_box_made_for_you_card::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  border-radius: 10px;
  background-color: rgba(110, 110, 110, 0.5);
  transition: width 0.3s ease-out;
  z-index: -1;
}
.home_main_box_made_for_you .home_main_box_made_for_you_card:hover::before {
  width: 100%;
}
.home_main_box_made_for_you .home_main_box_made_for_you_card:hover {
  scale: 1.1;
}
.home_main_box_made_for_you .home_main_box_made_for_you_card .home_main_box_made_for_you_card_image_box {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1px;
}
.home_main_box_made_for_you .home_main_box_made_for_you_card .home_main_box_made_for_you_card_image_box .home_main_box_made_for_you_card_image_box_first_line_one {
  width: calc(100% - 30.7px);
  margin-inline: auto;
  border-radius: 6.02px 6.02px 0 0;
  height: 2.49px;
  background-color: rgba(206, 110, 153, 0.15);
}
.home_main_box_made_for_you .home_main_box_made_for_you_card .home_main_box_made_for_you_card_image_box .home_main_box_made_for_you_card_image_box_second_line_one {
  width: calc(100% - 13.28px);
  margin-inline: auto;
  border-radius: 6.02px 6.02px 0 0;
  height: 4.98px;
  background-color: rgba(206, 110, 153, 0.3);
}
.home_main_box_made_for_you .home_main_box_made_for_you_card .home_main_box_made_for_you_card_image_box img {
  width: 146.01px;
  height: 146.01px;
  object-fit: cover;
  border-radius: 6.02px;
}
@media (min-width: 790px) {
  .home_main_box_made_for_you .home_main_box_made_for_you_card .home_main_box_made_for_you_card_image_box img {
    width: 170px;
    height: 170px;
  }
}
.home_main_box_made_for_you .home_main_box_made_for_you_card .home_main_box_made_for_you_card_text_box {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.home_main_box_made_for_you .home_main_box_made_for_you_card .home_main_box_made_for_you_card_text_box div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home_main_box_made_for_you .home_main_box_made_for_you_card .home_main_box_made_for_you_card_text_box div h3 {
  color: #e0e0e0;
  font-weight: 400;
  font-size: 11.62px;
  letter-spacing: 3%;
}
.home_main_box_made_for_you .home_main_box_made_for_you_card .home_main_box_made_for_you_card_text_box div span {
  font-weight: 400;
  font-size: 11.62px;
  letter-spacing: 3%;
}
.home_main_box_made_for_you .home_main_box_made_for_you_card .home_main_box_made_for_you_card_text_box div .made_for_you_span_one {
  color: #ce6e9a;
}
.home_main_box_made_for_you .home_main_box_made_for_you_card .home_main_box_made_for_you_card_text_box div .made_for_you_span_two {
  color: #95e6d3;
}
.home_main_box_made_for_you .home_main_box_made_for_you_card .home_main_box_made_for_you_card_text_box div .made_for_you_span_three {
  color: #f4b8bd;
}
.home_main_box_made_for_you .home_main_box_made_for_you_card .home_main_box_made_for_you_card_text_box div .made_for_you_span_four {
  color: #c3e7b7;
}
.home_main_box_made_for_you .home_main_box_made_for_you_card .home_main_box_made_for_you_card_text_box div .made_for_you_span_five {
  color: #f37fa6;
}
.home_main_box_made_for_you .home_main_box_made_for_you_card .home_main_box_made_for_you_card_text_box div .made_for_you_span_six {
  color: #a0bec8;
}
.home_main_box_made_for_you .home_main_box_made_for_you_card .home_main_box_made_for_you_card_text_box div .made_for_you_span_seven {
  color: #fdd87d;
}
.home_main_box_made_for_you .home_main_box_made_for_you_card .home_main_box_made_for_you_card_text_box div .made_for_you_span_eight {
  color: #d4b2a9;
}
.home_main_box_made_for_you .home_main_box_made_for_you_card .home_main_box_made_for_you_card_text_box div .your_top-mixes_span_one {
  color: #ccf665;
}
.home_main_box_made_for_you .home_main_box_made_for_you_card .home_main_box_made_for_you_card_text_box div .your_top-mixes_span_two {
  color: #f9e72c;
}
.home_main_box_made_for_you .home_main_box_made_for_you_card .home_main_box_made_for_you_card_text_box div .your_top-mixes_span_three {
  color: #9bf0e2;
}
.home_main_box_made_for_you .home_main_box_made_for_you_card .home_main_box_made_for_you_card_text_box div .your_top-mixes_span_four {
  color: #6f86ff;
}
.home_main_box_made_for_you .home_main_box_made_for_you_card .home_main_box_made_for_you_card_text_box div .your_top-mixes_span_five {
  color: #ffcbd4;
}
.home_main_box_made_for_you .home_main_box_made_for_you_card .home_main_box_made_for_you_card_text_box div .your_top-mixes_span_six {
  color: #ffc668;
}
.home_main_box_made_for_you .home_main_box_made_for_you_card .home_main_box_made_for_you_card_text_box div .your_top-mixes_span_seven {
  color: #27856b;
}
.home_main_box_made_for_you .home_main_box_made_for_you_card .home_main_box_made_for_you_card_text_box div .your_top-mixes_span_eight {
  color: #d4b2a9;
}
.home_main_box_made_for_you .home_main_box_made_for_you_card .home_main_box_made_for_you_card_text_box p {
  color: #898989;
  font-size: 9.96px;
  letter-spacing: 3%;
}

.home_main_box_made_for_you_card_image_box_first_line_two {
  width: calc(100% - 30.7px);
  margin-inline: auto;
  border-radius: 6.02px 6.02px 0 0;
  height: 2.49px;
  background-color: rgba(149, 230, 211, 0.15);
}

.home_main_box_made_for_you_card_image_box_second_line_two {
  width: calc(100% - 13.28px);
  margin-inline: auto;
  border-radius: 6.02px 6.02px 0 0;
  height: 4.98px;
  background-color: rgba(149, 230, 211, 0.3);
}

.home_main_box_made_for_you_card_image_box_first_line_three {
  width: calc(100% - 30.7px);
  margin-inline: auto;
  border-radius: 6.02px 6.02px 0 0;
  height: 2.49px;
  background-color: rgba(244, 184, 189, 0.15);
}

.home_main_box_made_for_you_card_image_box_second_line_three {
  width: calc(100% - 13.28px);
  margin-inline: auto;
  border-radius: 6.02px 6.02px 0 0;
  height: 4.98px;
  background-color: rgba(244, 184, 189, 0.3);
}

.home_main_box_made_for_you_card_image_box_first_line_four {
  width: calc(100% - 30.7px);
  margin-inline: auto;
  border-radius: 6.02px 6.02px 0 0;
  height: 2.49px;
  background-color: rgba(195, 231, 183, 0.15);
}

.home_main_box_made_for_you_card_image_box_second_line_four {
  width: calc(100% - 13.28px);
  margin-inline: auto;
  border-radius: 6.02px 6.02px 0 0;
  height: 4.98px;
  background-color: rgba(195, 231, 183, 0.3);
}

.home_main_box_made_for_you_card_image_box_first_line_five {
  width: calc(100% - 30.7px);
  margin-inline: auto;
  border-radius: 6.02px 6.02px 0 0;
  height: 2.49px;
  background-color: rgba(243, 127, 166, 0.15);
}

.home_main_box_made_for_you_card_image_box_second_line_five {
  width: calc(100% - 13.28px);
  margin-inline: auto;
  border-radius: 6.02px 6.02px 0 0;
  height: 4.98px;
  background-color: rgba(243, 127, 166, 0.3);
}

.home_main_box_made_for_you_card_image_box_first_line_six {
  width: calc(100% - 30.7px);
  margin-inline: auto;
  border-radius: 6.02px 6.02px 0 0;
  height: 2.49px;
  background-color: rgba(160, 190, 200, 0.15);
}

.home_main_box_made_for_you_card_image_box_second_line_six {
  width: calc(100% - 13.28px);
  margin-inline: auto;
  border-radius: 6.02px 6.02px 0 0;
  height: 4.98px;
  background-color: rgba(160, 190, 200, 0.3);
}

.home_main_box_made_for_you_card_image_box_first_line_seven {
  width: calc(100% - 30.7px);
  margin-inline: auto;
  border-radius: 6.02px 6.02px 0 0;
  height: 2.49px;
  background-color: rgba(253, 216, 125, 0.15);
}

.home_main_box_made_for_you_card_image_box_second_line_seven {
  width: calc(100% - 13.28px);
  margin-inline: auto;
  border-radius: 6.02px 6.02px 0 0;
  height: 4.98px;
  background-color: rgba(253, 216, 125, 0.3);
}

.home_main_box_made_for_you_card_image_box_first_line_eight {
  width: calc(100% - 30.7px);
  margin-inline: auto;
  border-radius: 6.02px 6.02px 0 0;
  height: 2.49px;
  background-color: rgba(212, 178, 169, 0.15);
}

.home_main_box_made_for_you_card_image_box_second_line_eight {
  width: calc(100% - 13.28px);
  margin-inline: auto;
  border-radius: 6.02px 6.02px 0 0;
  height: 4.98px;
  background-color: rgba(212, 178, 169, 0.3);
}

.your_top_mixes_first_line_one {
  background-color: rgba(204, 246, 101, 0.15);
}

.your_top_mixes_second_line_one {
  background-color: rgba(204, 246, 101, 0.3);
}

.your_top_mixes_first_line_two {
  background-color: rgba(249, 231, 44, 0.15);
}

.your_top_mixes_second_line_two {
  background-color: rgba(249, 231, 44, 0.3);
}

.your_top_mixes_first_line_three {
  background-color: rgba(155, 240, 226, 0.15);
}

.your_top_mixes_second_line_three {
  background-color: rgba(155, 240, 226, 0.3);
}

.your_top_mixes_first_line_four {
  background-color: rgba(111, 134, 255, 0.15);
}

.your_top_mixes_second_line_four {
  background-color: rgba(111, 134, 255, 0.3);
}

.your_top_mixes_first_line_five {
  background-color: rgba(255, 203, 212, 0.15);
}

.your_top_mixes_second_line_five {
  background-color: rgba(255, 203, 212, 0.3);
}

.your_top_mixes_first_line_six {
  background-color: rgba(255, 198, 104, 0.15);
}

.your_top_mixes_second_line_six {
  background-color: rgba(255, 198, 104, 0.3);
}

.your_top_mixes_first_line_seven {
  background-color: rgba(39, 133, 107, 0.15);
}

.your_top_mixes_second_line_seven {
  background-color: rgba(39, 133, 107, 0.3);
}

.your_top_mixes_first_line_eight {
  background-color: rgba(221, 19, 139, 0.15);
}

.your_top_mixes_second_line_eight {
  background-color: rgba(221, 19, 139, 0.3);
}

.your_favorite_artists {
  display: none;
}
@media (min-width: 790px) {
  .your_favorite_artists {
    display: flex;
  }
}

.your_favorite_artists_image_box {
  border-radius: 121.52px;
  overflow: hidden;
}

body {
  overflow-x: hidden;
}

@media (min-width: 790px) {
  .header_nav ul .header-search span {
    opacity: 50%;
  }
}
.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media (min-width: 790px) {
  .search-bar {
    display: none;
  }
}
.search-bar .search-input {
  width: 300px;
  height: 35px;
  padding: 0 10px;
  margin: 10px 10px;
  border-radius: 8px;
  border: 1px solid #202020;
  background-color: #202020;
}
.search-bar .search-icon {
  width: 20px;
  height: 20px;
  transform: translate(-50px, 15px);
}
.search-bar .camera-icon {
  transform: translateX(-50%);
}

@media (min-width: 790px) {
  .search-main-box {
    border-radius: 10px;
    border: solid 1px #323232;
    min-width: 0;
    overflow: hidden;
  }
  .container {
    width: 100%;
  }
  .main-box {
    display: flex;
    justify-content: center;
  }
  .main-box .aside-content {
    width: 250px;
    height: 900px;
  }
}
.recent-searches {
  margin: 10px 20px;
}
.recent-searches h3 {
  display: none;
  color: #e0e0e0;
  margin: 10px 20px;
  padding-top: 8px;
}
.recent-searches span {
  color: #e0e0e0;
  text-align: center;
}
.recent-searches .resent-searches-list {
  display: none;
  height: 300px;
}
.recent-searches .recent-searches-box {
  margin: 10px 15px;
}
@media (min-width: 790px) {
  .recent-searches .resent-searches-list {
    display: flex;
    flex-direction: row;
  }
  .recent-searches h3 {
    display: block;
  }
}

.recent-searches-box {
  display: inline-block;
  display: flex;
  flex-direction: column;
}

header {
  position: fixed;
}
@media (min-width: 790px) {
  header {
    position: static;
  }
}

footer {
  position: fixed;
}

.discover,
.genres {
  color: #e0e0e0;
  margin: 10px 20px;
  padding-top: 8px;
  position: relative;
  justify-items: center;
}
@media (min-width: 790px) {
  .discover,
  .genres {
    justify-items: stretch;
  }
}
.discover h3,
.genres h3 {
  justify-self: left;
}
.discover span,
.genres span {
  display: inline-block;
  padding-top: 8px;
}
.discover .arrows,
.genres .arrows {
  display: none;
}
@media (min-width: 790px) {
  .discover .arrows,
  .genres .arrows {
    display: inline;
    position: absolute;
    right: 0;
  }
}

.search-card-headers {
  position: absolute;
  padding-left: 20px;
  padding-top: 20px;
  font-size: 24px;
}

.search-card-imgs {
  width: 90px;
  height: 90px;
  position: absolute;
  transform: rotate(30deg) translate(100%, -10%);
}
@media (min-width: 790px) {
  .search-card-imgs {
    width: 100px;
    height: 100px;
    transform: rotate(30deg) translate(95%, 20%);
  }
}

.search-cards-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
}
@media (min-width: 790px) {
  .search-cards-box {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scrollbar-width: none;
  }
  .search-cards-box article {
    flex-shrink: 0;
  }
}

.search-made-for-you-card {
  position: relative;
  width: 170px;
  height: 100px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
}
@media (min-width: 790px) {
  .search-made-for-you-card {
    width: 160px;
    height: 160px;
    margin-right: 15px;
  }
}
.search-made-for-you-card {
  background-color: #1e3264;
}

.search-new-releases-card {
  position: relative;
  width: 170px;
  height: 100px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
}
@media (min-width: 790px) {
  .search-new-releases-card {
    width: 160px;
    height: 160px;
    margin-right: 15px;
  }
}
.search-new-releases-card {
  background-color: #ba5d07;
}

.search-spotify-classics-card {
  position: relative;
  width: 170px;
  height: 100px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
}
@media (min-width: 790px) {
  .search-spotify-classics-card {
    width: 160px;
    height: 160px;
    margin-right: 15px;
  }
}
.search-spotify-classics-card {
  background-color: #1e3264;
}

.search-charts-card {
  position: relative;
  width: 170px;
  height: 100px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
}
@media (min-width: 790px) {
  .search-charts-card {
    width: 160px;
    height: 160px;
    margin-right: 15px;
  }
}
.search-charts-card {
  background-color: #8d67ab;
}

.search-trending-card {
  position: relative;
  width: 170px;
  height: 100px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
}
@media (min-width: 790px) {
  .search-trending-card {
    width: 160px;
    height: 160px;
    margin-right: 15px;
  }
}
.search-trending-card {
  background-color: #b02897;
}

.search-discover-card {
  position: relative;
  width: 170px;
  height: 100px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
}
@media (min-width: 790px) {
  .search-discover-card {
    width: 160px;
    height: 160px;
    margin-right: 15px;
  }
}
.search-discover-card {
  background-color: #8d67ab;
}

.search-spotify-singles-card {
  position: relative;
  width: 170px;
  height: 100px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
}
@media (min-width: 790px) {
  .search-spotify-singles-card {
    width: 160px;
    height: 160px;
    margin-right: 15px;
  }
}
.search-spotify-singles-card {
  background-color: #777777;
}

.search-decades-card {
  position: relative;
  width: 170px;
  height: 100px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
}
@media (min-width: 790px) {
  .search-decades-card {
    width: 160px;
    height: 160px;
    margin-right: 15px;
  }
}
.search-decades-card {
  background-color: #ba5d07;
}

.search-pop-card {
  position: relative;
  width: 170px;
  height: 100px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
}
@media (min-width: 790px) {
  .search-pop-card {
    width: 160px;
    height: 160px;
    margin-right: 15px;
  }
}
.search-pop-card {
  background-color: #148a08;
}

.search-country-card {
  position: relative;
  width: 170px;
  height: 100px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
}
@media (min-width: 790px) {
  .search-country-card {
    width: 160px;
    height: 160px;
    margin-right: 15px;
  }
}
.search-country-card {
  background-color: #d84000;
}

.search-hip-hop-card {
  position: relative;
  width: 170px;
  height: 100px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
}
@media (min-width: 790px) {
  .search-hip-hop-card {
    width: 160px;
    height: 160px;
    margin-right: 15px;
  }
}
.search-hip-hop-card {
  background-color: #503750;
}

.search-rock-card {
  position: relative;
  width: 170px;
  height: 100px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
}
@media (min-width: 790px) {
  .search-rock-card {
    width: 160px;
    height: 160px;
    margin-right: 15px;
  }
}
.search-rock-card {
  background-color: #006450;
}

.search-indie-card {
  position: relative;
  width: 170px;
  height: 100px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
}
@media (min-width: 790px) {
  .search-indie-card {
    width: 160px;
    height: 160px;
    margin-right: 15px;
  }
}
.search-indie-card {
  background-color: #e91429;
}

.search-punk-card {
  position: relative;
  width: 170px;
  height: 100px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
}
@media (min-width: 790px) {
  .search-punk-card {
    width: 160px;
    height: 160px;
    margin-right: 15px;
  }
}
.search-punk-card {
  background-color: #1e3264;
}

.search-metal-card {
  position: relative;
  width: 170px;
  height: 100px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
}
@media (min-width: 790px) {
  .search-metal-card {
    width: 160px;
    height: 160px;
    margin-right: 15px;
  }
}
.search-metal-card {
  background-color: #e91429;
}

.search-instrumental-card {
  position: relative;
  width: 170px;
  height: 100px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
}
@media (min-width: 790px) {
  .search-instrumental-card {
    width: 160px;
    height: 160px;
    margin-right: 15px;
  }
}
.search-instrumental-card {
  background-color: #537aa1;
}

.main_box_aside {
  position: sticky;
  top: 10px;
}

.library-aside {
  background-color: #111111;
  margin: 10px;
  border-radius: 10px;
  padding-right: 40px;
  height: 100vh;
}

@media (min-width: 790px) {
  .library-1 {
    display: none;
  }
}
.search-bar .plus-icon {
  transform: translate(-50%, 15px);
  width: 20px;
  height: 20px;
}

.filter-bar ul {
  display: flex;
  flex-direction: row;
  flex-direction: row-reverse;
  justify-content: left;
  margin-right: 28px;
  gap: 10px;
  padding-bottom: 40px;
}
@media (min-width: 790px) {
  .filter-bar ul {
    flex-direction: row;
  }
}
.filter-bar ul span {
  color: #898989;
}
.filter-bar ul .filter-bar-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter-bar ul .right-item {
  margin-left: auto;
}
.filter-bar ul .active-button {
  background-color: #111111;
  border-radius: 10px;
}
.filter-bar ul .recents-item {
  display: flex;
  flex-direction: row-reverse;
}
@media (min-width: 790px) {
  .filter-bar ul .recents-item {
    flex-direction: row;
  }
}
.filter-bar ul .filter-item-1 {
  display: none;
}
@media (min-width: 790px) {
  .filter-bar ul .filter-item-1 {
    display: inline;
  }
}

.container2 {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.library-main-content {
  height: 100vh;
  overflow-y: auto;
}
@media (min-width: 790px) {
  .library-main-content {
    border: 1px solid #202020;
    border-radius: 10px;
    padding: 30px;
  }
}
.library-main-content .library-menu {
  list-style: none;
  color: white;
  margin-bottom: 200px;
}
.library-main-content .library-menu .library-menu-item {
  border-bottom: 1px solid #333;
  position: relative;
}
@media (min-width: 790px) {
  .library-main-content .library-menu .library-menu-item {
    border: none;
  }
}
.library-main-content .library-menu .menu-checkbox {
  display: none;
}
.library-main-content .library-menu .menu-checkbox:checked ~ .library-submenu {
  max-height: 500px;
}
.library-main-content .library-menu .menu-label {
  display: block;
  padding: 12px;
  cursor: pointer;
  font-weight: bold;
  position: relative;
  display: flex;
  flex-direction: row;
}
@media (min-width: 790px) {
  .library-main-content .library-menu .menu-label {
    display: none;
  }
}
.library-main-content .library-menu .menu-label .library-expand {
  margin-left: auto;
  transition: transform 0.3s ease;
}
.library-main-content .library-menu .menu-checkbox:checked ~ .menu-label .library-expand {
  transform: rotate(90deg);
}
.library-main-content .library-menu .library-submenu {
  list-style: none;
  max-height: 0;
  overflow-y: auto;
  transition: max-height 0.3s ease-out;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}
@media (min-width: 790px) {
  .library-main-content .library-menu .library-submenu {
    max-height: none;
    overflow: visible;
  }
}
.library-main-content .pins {
  display: none;
  margin-top: 10px;
  color: white;
  position: relative;
}
@media (min-width: 790px) {
  .library-main-content .pins {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
}
.library-main-content .pins .playlist-covers {
  width: 100px;
}
@media (min-width: 790px) {
  .library-main-content .pins .playlist-covers {
    width: 140px;
  }
}
.library-main-content .pins .artist-box {
  text-align: center;
}
.library-main-content .pins .pinned {
  position: absolute;
  transform: translateX(-70%);
  width: 45px;
  height: 45px;
}
.library-main-content .pins .pinned-item-box {
  width: 100px;
}
@media (min-width: 790px) {
  .library-main-content .pins .pinned-item-box {
    width: 140px;
  }
}
.library-main-content .pins .pins-text-box div {
  display: flex;
  flex-direction: row;
}
.library-main-content .pins h3 {
  display: inline;
  opacity: 75%;
}
.library-main-content .pins span {
  margin-left: auto;
}
.library-main-content .pins p {
  color: #898989;
}

@media (min-width: 790px) {
  .library-items {
    position: relative;
  }
  .library-items::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background-image: url(../../assets/library_images/svg/play-icon.svg);
    background-size: cover;
    background-position: center;
    transform: translate(-35px, 0);
    opacity: 0;
  }
  .library-items:hover::after {
    animation: slide-in 0.3s ease-in-out forwards;
  }
}
@keyframes slide-in {
  from {
    opacity: 0;
    transform: translate(-35px, 0);
  }
  to {
    opacity: 1;
    transform: translate(-35px, -80px);
  }
}
.filter-bar1 ul {
  justify-content: flex-end;
  position: relative;
}
.filter-bar1 ul .left-item {
  position: absolute;
  left: 10px;
  transform: translatey(50%);
}

.active-item {
  background-color: #323232;
}

.table-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: #898989;
  margin-bottom: 20px;
  padding: 5px;
}

.table-col-1 {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.table-col-1 div {
  display: flex;
  flex-direction: column;
}
.table-col-1 div h3 {
  color: #e0e0e0;
}

.table-col-3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.liked-song-icon {
  opacity: 0;
}

.table-row:hover .liked-song-icon {
  animation: slide 0.3s ease-in-out forwards;
}

.table-row:hover {
  background-color: #202020;
  border-radius: 10px;
}

@keyframes slide {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.album_main_box {
  background: linear-gradient(0deg, #060606 0%, #333842 100%);
  padding: 22px 50px 0 37px;
  width: calc(100% - 140px);
  margin: 0 auto;
}

.album_title {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.album_title h1 {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 3%;
  color: #e0e0e0;
}

.album_main_box {
  background-color: rgb(143, 13, 13);
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  gap: 38px;
}
@media (min-width: 1260px) {
  .album_main_box {
    grid-template-columns: 2fr 1fr;
  }
}
.album_main_box .album_left_section .album_title {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.album_main_box .album_left_section .album_title h1 {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 3%;
  text-wrap: nowrap;
}
.album_main_box .album_left_section .album_title p {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: start;
  gap: 10px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 3%;
  color: #898989;
  cursor: pointer;
}
.album_main_box .album_left_section .album_title p .album_title_text_white {
  color: #e0e0e0;
}
.album_main_box .album_left_section .icons_big_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 56.71px;
}
.album_main_box .album_left_section .icons_big_box .icons_boxs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
}
.album_main_box .album_left_section .icons_big_box .icons_boxs .icon_box {
  width: 40.41px;
  height: 40.41px;
  object-fit: cover;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.album_main_box .album_left_section .icons_big_box .icons_boxs .icon_box:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}
.album_main_box .album_left_section .icons_big_box .icons_boxs .icon_box:hover img {
  filter: brightness(0) invert(1);
}
.album_main_box .album_left_section .icons_big_box .icons_boxs .circle {
  background-color: #1ed760;
  border-radius: 50%;
}

.album_table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
  color: #898989;
}
.album_table thead tr th {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 3%;
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid rgba(137, 137, 137, 0.3);
}
.album_table thead tr th.col_title {
  max-width: 400px;
}
.album_table thead tr th.col_duration {
  width: 8%;
  min-width: 50px;
  max-width: 90px;
  text-align: right;
}
.album_table thead tr th.col_heart {
  width: 30%;
  min-width: 50px;
  max-width: 220px;
}
.album_table thead tr th.col_free {
  width: 100%;
  max-width: 280px;
}
.album_table tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
.album_table tbody tr:hover .table_img_box img {
  content: url("../../assets/album_images/heart-green.svg");
}
.album_table tbody tr td {
  padding: 12px;
  vertical-align: middle;
}
.album_table tbody tr td.title .title_box {
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: #e0e0e0;
  white-space: nowrap;
}
.album_table tbody tr td.title .title_box span {
  color: #898989;
  font-size: 0.9em;
}
.album_table tbody tr td.music_duration {
  text-align: right;
}
.album_table tbody tr td.table_img_box {
  width: 40px;
  cursor: pointer;
}
.album_table tbody tr td.table_img_box img {
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: block;
  margin: 0 auto;
}

.album_right_section {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.album_right_section .album_right_section_button_box {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 350px;
}
.album_right_section .album_right_section_button_box button {
  padding: 10px 20px;
  border-radius: 44px;
  border: 2px solid rgba(137, 137, 137, 0.25);
  cursor: pointer;
  color: #898989;
  background-color: transparent;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 3%;
}
.album_right_section .album_right_section_artist_box {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.album_right_section .album_right_section_artist_box div {
  display: flex;
  align-items: center;
  gap: 20px;
}
.album_right_section .album_right_section_artist_box div img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}
.album_right_section .album_right_section_artist_box div h3 {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 3%;
  color: #898989;
}

body {
  font-family: "Satoshi", sans-serif;
  width: 100vw;
  height: 100vh;
}

/*# sourceMappingURL=style.css.map */
