@use '../abstract/variables' as *; 



@mixin music-audio-filter-button() {
    color: $font-fg-primary;
        background-color: #202020;
        border: none;
        font-size: 1.4rem;
        font-weight: 700;
        padding: 0.8rem 1.5rem;
        border-radius: 0.8rem;
}

// desctop home mix card style
@mixin home-mix-card-content($theme-color: #CE6E9A) {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 17rem;
    padding-top: 1rem;
    padding-bottom: 0.8rem;

    .card-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #898989;
        line-height: 100%;
        p {
             font-size: 1.2rem;
        }
    }

    .card-text-header {
        display: flex;
        justify-content: space-between;
        min-width: 100%;
        font-size: 1.4rem;
        padding-top: 0.605rem;
        padding-bottom: 0.8rem;
            h3 {
             font-weight: 500;
             color: $font-fg-primary; 
                }
            span { 
                font-weight: 400; 
                color: $theme-color; 
        }
    }

    .home-mix-card-image-container {
        display: grid;
        place-items: end center;
        align-items: center;

        .home-mix-card-image, .card-image-backlayer1, .card-image-backlayer2 {
            grid-area: 1 / 1; 
        }

        .home-mix-card-image {
            height: 17rem; 
            width: 17rem; 
            z-index: 20;
            border-radius: 0.725rem;
            box-shadow: 0 -1rem 1rem -1.3rem rgba(0, 0, 0, 0.5);
        }

        .card-image-backlayer1 {
            background-color: $theme-color; 
            height: 17rem; 
            width: 15.4rem; 
            z-index: 10;
            border-radius: 0.725rem;
            transform: translateY(-0.6rem);
            box-shadow: 0 -1rem 1rem -1.7rem rgba(0, 0, 0, 0.5);
        }

        .card-image-backlayer2 {
            background-color: $theme-color; 
            height: 17rem; 
            width: 13.3rem;
            z-index: 1;
            border-radius: 0.725rem;
            transform: translateY(-1rem);
        }
    }


   
}


// mobile home mix card style
@mixin mobile-home-mix-card-content($theme-color: #CE6E9A) {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 14.106rem;
    padding-top: 1rem;
    padding-bottom: 0.8rem;

    .card-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #898989;
        line-height: 100%;
        p {
             font-size: 0.996rem;
        }
    }

    .card-text-header {
        display: flex;
        justify-content: space-between;
        min-width: 100%;
        font-size: 1.162rem;
        padding-top: 0.502rem;
        padding-bottom: 0.664rem;
            h3 {
             font-weight: 500;
             color: $font-fg-primary; 
                }
            span { 
                font-weight: 400; 
                color: $theme-color; 
        }
    }

    .home-mix-card-image-container {
        display: grid;
        place-items: end center;
        align-items: center;

        .home-mix-card-image, .card-image-backlayer1, .card-image-backlayer2 {
            grid-area: 1 / 1; 
        }

        .home-mix-card-image {
            height: 14rem; 
            width: 14rem; 
            z-index: 20;
            border-radius: 0.725rem;
            box-shadow: 0 -1rem 1rem -1.3rem rgba(0, 0, 0, 0.5);
        }

        .card-image-backlayer1 {
            background-color: $theme-color; 
            height: 12.7783rem; 
            width: 12.7783rem; 
            z-index: 10;
            border-radius: 0.725rem;
            transform: translateY(-1.0rem);
            box-shadow: 0 -1rem 1rem -1.7rem rgba(0, 0, 0, 0.5);
        }

        .card-image-backlayer2 {
            background-color: $theme-color; 
            height: 11.036rem; 
            width: 11.036rem;
            z-index: 1;
            border-radius: 0.725rem;
            transform: translateY(-2.3rem);
        }
    }

    
   
}

// desctop search card with x mark
@mixin search-card-x () {
    @include desktop {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 17rem;
        padding-top: 1rem;
        padding-bottom: 0.8rem;
        
    }
}