
$main-bg-dark: #060606;
$font-fg-primary: #E0E0E0;
$font-fg-secondary: #898989;
$hover-bg: rgba(59, 59, 60, 0.8);
$Bg-Primary: #111111;
$bg-secondary: #202020;
$sidebar-w: 25.9rem;
$header-h: 5.4rem;
$control-bar-bg: #333842;

$home-card-colors: (
    "avrillpink": #F4B8BD,
    "descoverpink": #CE6E9A,
    "linkinparkgreen": #95E6D3,
    "strokesgreen": #C3E7B7,
    "chuckberrypink": #F37FA6,
    "sinatrablue": #A0BEC8,
    "nirvanayellow": #FDD87D,
    "follautpink": #D4B2A9,
    "redhotchillieyellow": #CCF665,
    "mfdoomyellow": #F9E72C,
    "eilishblue": #9BF0E2,
    "daftpunkblue": #6F86FF,
    "turtlespink": #FFCBD4,
    "davidbowieorange": #FFC668,
    "minoguegreen": #27856B,
    "chuckberrydarkpink": #DD138B
);

$inside-image-card-colors: (
    "redhotchilliszablue": #1E3264,
    "arianagrandeorange": #BA5D07,
    
)

