$light-color: #E0E0E0;
$gray-color: #202020;



.content-discover-div {
    height: 800px;
    width: max-width;
    position: relative;
    overflow: hidden;

        &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image: url("../assets/discover-tab/5911e959b5a35b2c6f9beb4b5c1f521971d3c073.png");
        background-size: cover;
        background-position: center;
        filter: blur(80px);
        transform: scale(1.1); // blur-ის კიდეების დასაფარად
        z-index: -1;
        }

    display: flex;
    justify-content: center;
    align-items: center;
}

.discover-content {
    height: 600px;
    width: 1000px;
    background-image: url(../assets/discover-tab/discover-content.svg);
    background-repeat: no-repeat;
}