.player {
  width: 80%;
  background: rgba(51, 56, 66, 1);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  left: clamp(260px, 270px, 280px);
  bottom: 0;
  .player-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
  }
  .controls {
    display: flex;
    gap: 15px;
  }

  .controls button {
    background: none;
    border: none;
    color: rgba(255, 255, 255, 0.4);
    font-size: 20px;
    cursor: pointer;
  }
  .repeat {
    margin-top: 5px;
    background: none;
    align-items: center;
    color: rgba(255, 255, 255, 1);
  }
  .pause {
    background: #1db954;
    color: rgba(0, 0, 0, 1);
    border-radius: 50%;
    font-weight: bold;
  }
  .play {
    display: none;
  }
  .progress-area {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .progress-bar {
    width: 100%;
    background: rgba(137, 137, 137, 0.27);
    border-radius: 0.5px;
    position: relative;
  }

  .progress {
    border: 3px solid rgba(137, 137, 137, 0.27);
    width: 45%;
    background: rgba(224, 224, 224, 1);
    border-radius: 0.5px;
  }

  .time {
    font-weight: 400;
    font-size: 12px;
    color: rgba(137, 137, 137, 1);
  }
  .progress-area {
    margin: 15px 8px;
    justify-content: center;
    align-items: center;
  }
  .song-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
  }

  .song-info img {
    width: 48px;
    height: 48px;
    border-radius: 6px;
  }

  .song-text {
    font-weight: 400;
    font-size: 14px;
    font-style: regular;
    color: rgba(224, 224, 224, 1);
    line-height: 100%;
    letter-spacing: 3%;
    p {
      margin-top: 2px;
    }
  }

  .song-title {
    margin-top: 12px;
  }

  .song-artist {
    margin-top: -7px;
    color: rgba(137, 137, 137, 1);
  }
  .song-memories {
    color: rgba(137, 137, 137, 1);
    margin-top: -7px;
  }
  .actions {
    display: flex;
    align-items: center;
    margin-right: 15px;
  }
  .actions ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
  }
  .mobile-footer-player-none {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .player {
    right: 20px;
    .controls {
      display: none;
    }
    .progress-area {
      display: none;
    }
    .song-info p {
      cursor: pointer;
    }
    .song-info img {
      padding: 5px;
      cursor: pointer;
    }
  }
  .actions {
    display: none !important;
  }
  .mobile-footer-player-none {
    width: 100%;
    display: flex !important;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
    a {
      width: 20px;
      &:hover {
        filter: brightness(80%);
      }
    }
    .play-arrow {
      width: 20px;
      color: rgba(255, 255, 255, 0.7);
      &:hover {
        filter: brightness(80%);
      }
    }
  }
}

@media screen and (max-width: 770px) {
  .player {
    left: 0;
    width: 100%;
    .controls {
      display: none;
    }
    .progress-area {
      display: none;
    }
    .song-info p {
      cursor: pointer;
    }
    .song-info img {
      padding: 5px;
      cursor: pointer;
    }
  }
  .actions {
    display: none !important;
  }
  .mobile-footer-player-none {
    width: 100%;
    display: flex !important;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
    a {
      width: 20px;
      &:hover {
        filter: brightness(80%);
      }
    }
    .play-arrow {
      width: 20px;
      color: rgba(255, 255, 255, 0.7);
      &:hover {
        filter: brightness(80%);
      }
    }
  }
}
