$text-color-primary: rgba(224, 224, 224, 1); // text color selected
$text-color-secondary: rgba(137, 137, 137, 1); // text color unselected 
$bg-color: rgb(6, 6, 6); // background color
$bg-color-secondary: rgba(32, 32, 32, 0.5); // background color secondary
$bg-list-color-hover: rgb(32, 32, 32);
$bg-color-hover: rgb(17, 17, 17); 
$bg-color-active: rgba(137, 137, 137, 0.1);
