@use "../abstracts/variables" as var;



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;



    ul,
    li {
        display: inline-block;
        list-style: none;
    }

    button {
        display: inline-block;
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        font: inherit;
        color: inherit;
        cursor: pointer;
    }

    span {
        display: inline-block;
    }

    a,
    a:visited {
        display: inline-block;
        text-decoration: none;
        color: inherit;
    }

    a:focus,
    a:active {
        outline: none;
    }

    img {
        display: block;
        max-width: 100%;
        height: auto;

    }
     
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

}

html {
    font-size: 62.5%;


}

body {

    max-width: 179.1rem;
    margin-inline: auto;

    font-size: 1.4rem;
    font-family: 'Satoshi', sans-serif;
    line-height: 1.5;
    background-color: var.$bg-base;
    color: var.$text-primary;



}

body,
html {

    height: 100vh;
    width: 100%;
    overflow: hidden;
}