@use '../abstract/mixins' as *;
@use '../universal components/components' as *;
@use '../abstract/responsive' as *;
@use '../abstract/variables' as *;




.search-card-x-doublelayer-container {
    @include search-card-x-doublelayer();
}


.card-inside-image-container {
    height: 170px;
    width: 170px;
    background-color: #1E3264;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    overflow: hidden;
    h3 {
        grid-area: 1;
    }
    img {
        width: 104.26999523946988px;
        height: 104.26999523946988px;
        grid-area: 2;
        transform: translateY(-3.4rem) translateX(7.6rem);
        rotate: 30deg;
    }
}