@use "../../abstracts/variables";

.recent {
  padding: 0 1.5rem;
}
.recent-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.6rem;
  article {
    overflow: hidden;
  }
}
.card-recent {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 0.8rem;
  background-color: variables.$bg-secondary-dark;
  border-radius: 0.8rem;
  .img-container {
    width: 43px;
    flex-shrink: 0; // makes surees  text doesn't squeeze the image
    img {
      aspect-ratio: 1 / 1;
      object-fit: cover;
      border-radius: 0.3rem;
    }
  }

  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;

    h3 {
      color: variables.$color-active-desk;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; // adds ... if  title is too long
    }
    p {
      color: variables.$color-primary;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
@media (min-width: 920px) {
  .recent-container {
    display: none;
  }
}
