$fs-hero: rgb(223, 220, 220);
$font-activ: rgba(224, 224, 224, 1);
$hover-color: rgb(251, 249, 249);
$text-primary: rgba(137, 137, 137, 1);
$bg-box-shadow: rgba(255, 255, 255, 0.05);
$bg-play-icon: rgba(30, 215, 96, 1);
$bg-play-res: rgb(39, 126, 69);
$bg-sticker: rgba(39, 133, 107, 1);
$bg-btn-secondary: rgba(137, 137, 137, 1);
$bg-follow-btn: rgba(144, 125, 114);
$bg-sticker-err: rgba(221, 19, 139, 1);

$bg-art-figure: rgba(24, 25, 30, 1);
$bg-base: rgba(6, 6, 6, 1);
$bg-btn-praymer: rgb(29, 29, 29);
$border-color: rgba(32, 32, 32, 1);
$bg-table-row: rgba(42, 42, 42, 1);
$bg-sd-bar-activ: rgb(14, 13, 13);
$bg-image-sticker: rgba(17, 17, 17, 1);
$Fg-secondary: rgba(51, 56, 66, 1);
$bg-secondary: rgba(37, 38, 43, 0.563);
$bg-footer-nav:  rgba(0, 0, 0, 0.4);

$bg-play-card-bl: rgba(30, 50, 100, 1);
$bg-play-card-or: rgba(186, 93, 7, 1);
$bg-play-card-fl: rgba(141, 103, 171, 1);
$bg-play-card-a: rgba(176, 40, 151, 1);
$bg-play-card-b: rgba(119, 119, 119, 1);
$bg-play-card-c: rgba(20, 138, 8, 1);
$bg-play-card-d: rgba(216, 64, 0, 1);
$bg-play-card-e: rgba(80, 55, 80, 1);
$bg-play-card-f: rgba(0, 100, 80, 1);
$bg-play-card-g: rgba(233, 20, 41, 1);
$bg-play-card-h: rgba(83, 122, 161, 1);

$bg-blar: linear-gradient(180deg, #343434 0%, #121212 100%);
$bg-activ-gradient: invert(48%) sepia(79%) saturate(2476%) hue-rotate(118deg) brightness(118%) contrast(119%);
$bg-layout-playlist: linear-gradient(180deg,
        rgba(137, 137, 137, 0.25) 0%,
        rgba(59, 79, 182, 1) 0%,
        rgba(6, 6, 6, 1) 50%,
        rgba(32, 32, 32, 1) 100%);

$bg-layout-color: linear-gradient(180deg,
        rgba(80, 100, 200, 0.6) 0%,
        rgba(60, 60, 65, 1) 40%,
        rgba(40, 40, 40, 1) 100%);

$bg-layout-album: linear-gradient(180deg,
        rgba(30, 40, 90, 0.4) 0%,
        rgba(25, 25, 25, 1) 35%,
        rgba(10, 10, 10, 1) 100%);

$bg-avatar: linear-gradient(rgba(1, 0, 1, 0.2), rgba(0, 0, 0, 0.7));
$btn-potcast: rgb(54, 42, 19);
$bg-podcast: linear-gradient(to bottom,
        #6f4b35 0%, #251a13 40%,
        #121212 100%) no-repeat;
        
$bg-discover: rgba(87, 236, 208, 0.1);

