@use "../abstracts/variables";
@use "../abstracts/mixins";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

// main-content
// grid-structure

.main-content-playlist {
  background-image: linear-gradient(
    180deg,
    rgba(59, 79, 182, 0.47) 0%,
    rgba(6, 6, 6, 0.47) 100%
  );

  display: grid;
  grid-template-columns: 1fr 32rem;
  // grid-template-columns: 3fr 1fr;
  grid-template-rows: 4.4fr 3rem 16fr;
  column-gap: 3.5rem;
  row-gap: 2rem;
  border-radius: 1rem;

  grid-template-areas:
    "menu  album "
    "title  album"
    "list  album ";

  // height: calc(100vh - 5.4rem) ;
  min-height: 100vh;
  padding: variables.$page-padding;

  // header-section
  h1 {
    color: #fff;
    @include mixins.page-title-font;
  }

  .mobile-header,
  .mobile-playlist-cover-container,
  .mobile-left-actions {
    display: none;
  }
  .header {
    grid-area: menu;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 1rem;

    &-info {
      display: flex;
      align-items: center;
      gap: 1rem;
      color: variables.$color-text-secondary;

      @include mixins.small-font;
    }
  }

  .highlight {
    color: #fff;
  }

  .header-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-left {
      @extend %actions-container;
    }
  }

  .actions-reverse,
  .mobile-none-actions {
    display: flex;
    align-items: center;
    gap: 1.4rem;
  }

  .button-hovers {
    opacity: 0.7;

    &:hover {
      opacity: 1;
      filter: brightness(1.5);
    }
  }

  .dot {
    height: 0.3rem;
    width: 0.3rem;
    border-radius: 100%;
    background-color: variables.$color-text-secondary;
  }

  // list-title-section
  .divider {
    grid-area: title;
    display: grid;
    grid-template-columns: 1fr 8fr 8fr 2fr 7fr;
    color: variables.$color-text-secondary;
    @include mixins.small-font;
    column-gap: 1rem;
    border-bottom: 2px solid variables.$color-text-secondary;
  }

  // playlist-grid
  .playlist-container {
    grid-area: list;
    display: grid;
    grid-template-columns: 1fr 8fr 8fr 2fr 7fr;

    column-gap: 1rem;
    align-items: center;
  }

  // numbers-column
  .list {
    @include mixins.mid-font;
    color: variables.$color-text-secondary;

    height: 6.5rem;
    align-content: center;
  }

  // song-titles-colums
  .text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }

  .title-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    img {
      width: 5.1rem;
      height: 5.1rem;
      border-radius: 0.3rem;
    }
  }

  .song-title {
    @include mixins.mid-font;
    color: #fff;
  }

  .artist-title {
    @include mixins.small-font;
    color: variables.$color-text-secondary;
  }

  .album-name,
  .duration {
    @include mixins.small-font;
    color: #898989;
  }

  // right-part album-cover-section

  .album-cover {
    grid-area: album;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .genre-wrapper {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    color: variables.$color-text-secondary;
  }

  .genre {
    @include mixins.small-font;
    padding: 1rem 2rem;

    border-radius: 4rem;
    border: 2px solid #89898940;
  }

  .artists-wrapper {
    display: flex;
    flex-direction: column;

    gap: 1.5rem;
  }

  .artist {
    display: flex;
    align-items: center;
    color: variables.$color-text-secondary;
    @include mixins.mid-font;
    gap: 2rem;

    img {
      width: 6.1rem;
      height: 6.1rem;
      border-radius: 100%;
    }
  }

  #heart-icon-1,
  #heart-icon-2,
  #heart-icon-3,
  #heart-icon-4,
  #heart-icon-5,
  #heart-icon-6,
  #heart-icon-7,
  #heart-icon-8,
  #heart-icon-9 {
    display: none;
  }

  .heart-label {
    background-image: url(../../assets/icons/heart-svg.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 24px;
    height: 20.5px;

    cursor: pointer;
  }

  #heart-icon-1:checked + .heart-label {
    background-image: url("../../assets/icons/green-heart.png");
    background-position: center;
    background-repeat: no-repeat;
  }
  #heart-icon-2:checked + .heart-label {
    background-image: url("../../assets/icons/green-heart.png");
    background-position: center;
    background-repeat: no-repeat;
  }

  #heart-icon-3:checked + .heart-label {
    background-image: url("../../assets/icons/green-heart.png");
    background-position: center;
    background-repeat: no-repeat;
  }
  #heart-icon-4:checked + .heart-label {
    background-image: url("../../assets/icons/green-heart.png");
    background-position: center;
    background-repeat: no-repeat;
  }

  #heart-icon-5:checked + .heart-label {
    background-image: url("../../assets/icons/green-heart.png");
    background-position: center;
    background-repeat: no-repeat;
  }
  #heart-icon-6:checked + .heart-label {
    background-image: url("../../assets/icons/green-heart.png");
    background-position: center;
    background-repeat: no-repeat;
  }

  #heart-icon-7:checked + .heart-label {
    background-image: url("../../assets/icons/green-heart.png");
    background-position: center;
    background-repeat: no-repeat;
  }
  #heart-icon-8:checked + .heart-label {
    background-image: url("../../assets/icons/green-heart.png");
    background-position: center;
    background-repeat: no-repeat;
  }
  #heart-icon-9:checked + .heart-label {
    background-image: url("../../assets/icons/green-heart.png");
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media (max-width: 768px) {
  .main-content-playlist {
    display: flex;
    flex-direction: column;
    padding: 1.3rem 1.2rem 0rem 1.5rem;

    h1 {
      font-size: 2rem;
      font-weight: 700;
    }

    .big-cover {
      width: 21.1rem;
    }

    .playlist-container {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 1.6rem;
    }

    .list,
    .duration,
    .favourite-icon,
    .album-name,
    .mobile-none-actions,
    .header-actions-right,
    .divider,
    .album-cover {
      display: none;
    }

    .actions-reverse {
      flex-direction: row-reverse;
    }

    .mobile-left-actions {
      display: flex;
      align-items: center;
      gap: 1.4rem;
      // justify-content: start;
    }

    .header-actions-left {
      width: 100vw;
      display: flex;
      justify-content: space-between;
    }

    .mobile-header {
      display: flex;
      gap: 1.7rem;
      justify-content: center;
    }

    .header {
      justify-content: center;
    }

    .mobile-search {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #e0e0e00a;
      border-radius: 1.5rem;
      width: calc(100vw - 5rem);
      font-size: 1.4rem;
      #mobile-search {
        padding: 0.9rem;
      }
    }

    .mobile-playlist-cover {
      width: min(21.1rem, 60%);
    }

    .mobile-playlist-cover-container {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
}

@media (max-width: 1024px) {
  .main-content-playlist {
    .playlist-container,
    .divider {
      grid-template-columns: 1fr 8fr 2fr 4fr;
    }

    .album-name,
    .divide-album {
      display: none;
    }
  }
}
