@use '../abstract/mixins' as *;
@use '../abstract/responsive' as *;
@use '../abstract/variables' as *;


button {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
}

// Control bar 
.control-bar {
    
    grid-area: control-bar;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem;
    padding-bottom: 1.6rem; 
    cursor: pointer;
    background-color: $control-bar-bg;
    border-radius: 1rem;
    // I changed the position to "fixed" to make it fixed to the bottom of the screen when scrolling
    position: fixed;
    z-index: 100;
    bottom: 9.5rem;
    // I changed the witdh to 97vw 
    width: 94vw;
    justify-self: center;
    // centers the item
    margin: 0 auto;
    // left: 50%;
    // transform: translateX(-50%);
    @include desktop {
        position: fixed;
        padding: 1.2rem;
        margin: 0;
        width: calc(100% - 28.4rem);
        bottom: 0;
        right: 0;
        // left: 0;
        // transform: translateX(0);
    }
}

// Progress-bar 
.progress-bar {
    flex: 1;
    height: 0.4rem;
    background: $font-fg-secondary;
    border-radius: 10rem;
    position: relative;
    cursor: pointer;
    
    
    @include desktop { width: 15vw; min-width: 5rem; }
    

    &--mobile {
        position: absolute;
        bottom: 0.1rem;
        left: 0.9rem;
        right: 0.9rem;
        height: 0.3rem;
        width: 96%;
        @include desktop { display: none; }
    }

    &__fill {
        height: 100%;
        width: 35%;
        background: #E0E0E0;
        border-radius: 10rem;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            right: -0.5rem;  top: 50%;
            transform: translateY(-50%);
            width: 1rem;
            height: 1rem;
            background: white;
            border-radius: 50%;
            opacity: 0;
            transition: opacity 0.2s;
        }
    }

    &:hover &__fill::after { opacity: 1; }
}

// Left side 
.control-left {
    display: flex;
    align-items: center;
    // flex: 1;
    gap: 1rem;

    
}

.player {
        display: flex;
        gap: 0.5rem;

        button { display: none; }
        

        @include desktop {
            button { display: flex; }
            .player__pause { display: flex; }
        }
    }

    .player__progress {
        display: none;

        @include desktop {
            
            display: flex;
            align-items: center;
            gap: 0.5rem;
            flex: 1;
            padding: 0 1rem;
        }
    }

// Right side 
.control-right {
    display: flex;
    align-items: center;
    gap: 1rem;

    .global .player__btn.add-btn { display: flex; }
    .global .player__btn { display: none; }
    .additions { display: none; }

    @include desktop {
        // flex: 1;
        .global .player__btn { display: flex; }
        .additions { display: flex; gap: 1rem; }
    }

//     @include player-md {
//         display: none;
// }
}

// Track info 
.track-meta {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-right: auto;

    @include desktop {
        // flex: 1;
        margin-right: 0;
        justify-content: center;
    }
}

.track-time {
    display: none;

    @include desktop {
        display: block;
        color: $font-fg-secondary;
        font-size: 1.2rem;
    }
}

.track-info {
    display: flex;
    flex-direction: column;

    &-title {
        font-size: 1.4rem;
        font-weight: 400;
        letter-spacing: 3%;
        color: $header-text-color;
        padding-bottom: 2px;
    }

    &-singer {
        @extend .track-info-title;
        color: $font-fg-secondary;
    }

    &-album {
        @extend .track-info-singer;
        // display: none;

        @include desktop { display: block; }
    }
}

.track-picture {
    width: 4rem;
    height: 4rem;
    flex-shrink: 0;

    @include desktop {
        width: 5.1rem;
        height: 5.1rem;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.4rem;
    }
}

// Buttons 
.global {
    display: flex;
    margin-right: 0;

    @include desktop {
        border-right: 0.1rem solid $font-fg-secondary;
        margin-right: 1.5rem;
    }
}

.additions {
    display: none;

    @include desktop {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}

.player__ai {
    display: none;

    @include desktop {
        display: flex;
        width: 4rem;
        flex-shrink: 0;

        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
        }
    }
}

.add-btn { display: inline-block; }

.responsive-play-btn {
    display: inline-block;

    @include desktop { display: none; }

}

// test commit
