$bg-color: rgba(17, 17, 17, 1);
$card-bg: #282828;
$grid-bg: rgba(32, 32, 32, 1);
$text-main: #FFFFFF;
$text-secondary: rgba(137, 137, 137, 1);
$accent-green: #1DB954;
$nav-bg: linear-gradient(180deg, rgba(17, 17, 17, 0.85) 0%, #111111 42.62%);
$font-family: 'Satoshi', sans-serif;