//colors

$color-bg-primary: #121212;
$color-bg-secondary: #181818;
$color-bg-elevated: #242424;
$color-sidebar: #000000;
$color-player: #333842;
$color-discover: #8CD8CC24;

$color-text-primary: #ffffff;
$color-text-secondary: #b3b3b3;
$color-accent: #1db954;

$color-hover: #1a1a1a;
$color-active: #282828;
$color-border: #282828;
//SPACING (10px base)

$space-xs: 0.4rem;
$space-sm: 0.8rem;
$space-md: 1.6rem;
$space-lg: 2.4rem;
$space-xl: 3.2rem;
$space-xxl: 4.8rem;
//sizes

$sidebar-width: 24rem;
$player-height: 8rem;
$radius-sm: 0.4rem;
$radius-md: 0.8rem;
$transition-base: 0.2s ease;