@use "../abstracts/variables";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%
}

body {
    padding-bottom: 9.5rem;
    padding-top: 5.4rem;
}



a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}