$primary-color: rgba(6, 6, 6, 1);
$primary-text-color: rgba(224, 224, 224, 1);
$main-padding: 20px;
$main-gap: 20px;
$main-margin: 30px;
$player-bar-color: rgba(137, 137, 137, 1);
$primary-font-size: 14px;
$primary-hover-color: rgba(32, 32, 32, 0.5);
