@use "../abstracts/variables";
@use "../base/reset";
@use "../abstracts/mixins";
@use "../layout/grid";


@media (min-width: 39rem) {
    .sidebar-nav {
        background-color: variables.$background-color;
        display: flex;
        width: 25.9rem;
        height: 100vh;

        ul {
            display:flex;
            flex-direction: column;
            gap: 1.5rem;   
        }
        
        
    }

}