@use "../abstracts" as *;
@use "../base" as *;
@use "../components" as *;
@use "../layout" as *;

.album_main_box {
  background: linear-gradient(0deg, #060606 0%, #333842 100%);
  padding: 22px 50px 0 37px;
  width: calc(100% - 140px);
  margin: 0 auto;
}

.album_title {
  @include flex-column;
  gap: 30px;
  h1 {
    font-size: 36px;
    font-weight: $font-weight-bold;
    letter-spacing: 3%;
    color: $color-text-btn;
  }
}

.album_main_box {
  // @include flex-space-between;
  background-color: rgb(143, 13, 13);
  display: grid;
  grid-template-columns: 1fr;

  align-items: start;
  gap: 38px;

  @media (min-width: 1260px) {
    grid-template-columns: 2fr 1fr;
  }
  .album_left_section {
    .album_title {
      @include flex-column;
      gap: 20px;
      h1 {
        font-size: $font-size-36;
        font-weight: $font-weight-bold;
        letter-spacing: 3%;
        text-wrap: nowrap;
      }
      p {
        @include flex-center;
        justify-content: start;
        gap: 10px;
        font-size: $font-size-base;
        font-weight: $font-weight-regular;
        letter-spacing: 3%;
        color: $color-text-alt;
        cursor: pointer;

        .album_title_text_white {
          color: $color-text-btn;
        }
      }
    }
    .icons_big_box {
      @include flex-space-between;
      gap: 56.71px;
      .icons_boxs {
        @include flex-space-between;
        gap: 14px;
        .icon_box {
          width: 40.41px;
          height: 40.41px;
          object-fit: cover;
          cursor: pointer;
          @include flex-center;

          &:hover {
            transform: scale(1.1);
            transition: all 0.3s ease;
            img {
              filter: brightness(0) invert(1);
            }
          }
        }
        .circle {
          background-color: $color-bg-circle;
          border-radius: $radius-pill;
        }
      }
    }
  }
}

// album table
.album_table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
  color: $color-text-alt;

  thead {
    tr {
      th {
        font-size: $font-size-base;
        font-weight: $font-weight-regular;
        letter-spacing: 3%;
        text-align: left;
        padding: 12px;
        border-bottom: 1px solid rgba(137, 137, 137, 0.3); // უფრო რბილი ხაზი

        &.col_title {
          // width: 100%;
          max-width: 400px;
        }
        &.col_duration {
          width: 8%;
          min-width: 50px;
          max-width: 90px;
          text-align: right;
        }
        &.col_heart {
          width: 30%;
          min-width: 50px;
          max-width: 220px;
        }
        &.col_free {
          width: 100%;
          max-width: 280px;
        }
      }
    }
  }

  tbody {
    tr {
      &:hover {
        background-color: rgba(255, 255, 255, 0.05);
        .table_img_box img {
          content: url("../../assets/album_images/heart-green.svg");
        }
      }

      td {
        padding: 12px;
        vertical-align: middle;

        &.title .title_box {
          display: flex;
          flex-direction: column;
          gap: 4px;
          color: $color-text-btn;
          white-space: nowrap;

          span {
            color: $color-text-alt;
            font-size: 0.9em;
          }
        }

        &.music_duration {
          text-align: right;
        }

        &.table_img_box {
          width: 40px;
          cursor: pointer;

          img {
            width: 18px;
            height: 18px;
            @include flex-center;
            display: block;
            margin: 0 auto;
          }
        }
      }
    }
  }
}

.album_right_section {
  @include flex-column;
  gap: 30px;

  .album_right_section_button_box {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 350px;
    button {
      padding: 10px 20px;
      border-radius: $radius-44;
      border: 2px solid rgba($color-text-alt, 0.25);
      cursor: pointer;
      color: $color-text-alt;
      background-color: transparent;
      font-size: $font-size-base;
      font-weight: $font-weight-regular;
      letter-spacing: 3%;
    }
  }

  .album_right_section_artist_box {
    @include flex-column;
    gap: 15px;

    div {
      @include align-center;
      gap: 20px;

      img {
        width: 60px;
        height: 60px;
        object-fit: cover;
        border-radius: $radius-pill;
      }

      h3 {
        font-size: $font-size-md;
        font-weight: $font-weight-medium;
        letter-spacing: 3%;
        color: $color-text-alt;
      }
    }
  }
}
