@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

/* =====================
  Content Section
===================== */

.content-section {
  margin-bottom: $space-2xl;
}

.content-section__head {
  @include flex-between;
  gap: $space-md;
  margin-bottom: $space-md;
}

.content-section__title {
  color: $color-text-primary;
  font-family: $font-middle;
  font-size: 20px;
}

.content-section__actions {
  display: flex;
  align-items: center;
  gap: $space-sm;
}


.content-section__button {
  @include flex-center;
  width: 30px;
  height: 30px;
}

.content-section__button-icon {
  width: 30px;
  height: 30px;
 
  border-radius: 50%;
}

@include mobile {
  .content-section {
    margin-bottom: 28px;
  }

  .content-section__head {
    margin-bottom: 14px;
  }

  .content-section__title {
    font-size: 18px;
  }

  .content-section__actions {
    gap: 6px;
  }

  .content-section__button:not(:last-child) {
    display: none;
  }
}