@use "variables" as *;
@use "mixins" as *;
header {
  grid-area: header;
  font-family: $font-primary;
  background: $color-background;
  z-index:10;
  

  nav {
    @include flex-center(space-between, center);
    
  }
  
  .main-navigation{
    @include flex-center(center, center, $spacing-xl);
  }
  .actions{
    display: flex;
    align-items: center;
    gap: $spacing-xs;
  }

  a {
    display: flex;
    align-items: center;
    gap: $spacing-sm;
    color: $color-text;
    font-size: $font-md;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 8px;
    transition: background-color 0.3s;

    &.active {
      background-color: $color-secondary;
    }

    &:hover:not(.active) {
      background-color: $color-secondary;
    }

  }
  

}